* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  padding-top: 20px;
}

h1 {
  font-family: "Helvetica", sans-serif;
  font-size: 2.5rem;
  color: #333;
  width: 100%;
  text-align: center;
}

p {
  font-family: "Helvetica", sans-serif;
  color: #333;
  width: 100%;
  margin-bottom: 0;
}

button:focus {
  outline: none;
}


/* Sign in page and log in page */
/* ---------------------------- */
.sign-in-form {
  margin: 0 auto;
}


/* Measurements page */
/* ----------------- */
#logout {
  text-align: right;
  padding-right: 30px;
  margin-bottom: -20px;
}

#logout:hover {
  cursor: pointer;
}

#info-link {
  font-size: 0.9rem;
  font-style: italic;
}

#info-link:hover {
  cursor: pointer;
}

#info-tip {
  position: absolute;
  top: 140px;
  left: 23%;
  width: 320px;
  height: 245px;
  padding: 10px;
  background: #000;
  opacity: 0.8;
  border-radius: 2px;
  display: none;
}

#info-tip p {
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: #eee;
}

#chart {
  margin-bottom: 50px;
}

#chart svg {
  border-radius: 8px;
}

#measurement-list {
  margin-left: 140px;
  margin-bottom: 40px;
  display: none;
}

.measurement-form {
  min-height: 100px;
  margin-top: 10px;
}

.measurement-form input[type="date"] {
  font-size: 0.9rem;
}

.measurement-form button[type="submit"] {
  margin-top: 24px;
}

#remove-entry {
  float: right;
  clear: none;
}

/* Chart */
.tick line {
  stroke: #888;
}

.tick text {
  fill: #444;
}

.area {
  fill: #3498DB;
  stroke-width: 0;
  opacity: 0.5;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  margin-bottom: -1px;
  background: #2980B9;
  opacity: 0.9;
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 13px;
  width: 100%;
  line-height: 1;
  color: #2980B9;
  opacity: 0.9;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -3px 0 0 0;
  top: 100%;
  left: 0;
}

/* BEGIN MEDIA QUERIES */
/* ------------------- */
@media screen and (max-width: 1023px) {
  #remove-entry {
    float: none;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 639px) {
  #logout {
    margin-bottom: 0;
  }

  .measurement-form {
    margin: 0 auto;
  }

  #info-tip {
    left: 10%;
    top: 165px;
  }
}
